@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveContinuously {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(10px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.animate-moveContinuously {
  animation: moveContinuously 5s linear infinite;
}
